.body{
  background-color: black;
}

.opciones_del_menu{
 
display: flex;
margin: auto;
text-align: center;
align-content: space-between !important;
width: 100%;
justify-content: center;
display: flex;
  flex-wrap: wrap;
}
